div.title {
    padding: 2em 2em;
}

#player {
    padding-bottom: 0.5em;
}

#mapid { 
    height: 55em;
    width: 55em;
}

#date {
    padding-top: 0.5em;
}

#proportions { 
    height: 35em;
    width: 35em;
    margin: 0 auto;
}

#neighbourhood { 
    height: 35em;
    width: 35em;
    margin: 0 auto;
}